@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    color: rgb(255, 225, 168);
    font-family: "Press Start 2P";
}

body {
    min-height: 100vh;
    margin: 0;
    background: #47476d;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#game-container, #title, #active-player {
    border-radius: 100px;
    padding: 50px;
    background: #c97938;
    box-shadow: 25px 25px 0 0 #9e5f2c, 40px 40px 25px 5px #0000003f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: 100px;
    width: 500px;
    margin-left: -200px;
    margin-bottom: 50px;
    padding: 0;
}

#active-player {
    margin-left: -25px;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

#active-player>h1, #active-player>h2 {
    margin: 5px;
}

#footer {
    padding: 25px;
    text-align: center;
    color: #a8a6c9;
}

#footer>div, #footer>h1 {
    color: #a8a6c9;
    font-size: 10px;
}

table {
    border-spacing: 10px;
}

td, #reset, #start {
    text-align: center;
    border-radius: 10px;
    background: #8a8ac5;
    width: 90px;
    height: 90px;
    border: 5px outset #8a8ac5;
    box-shadow: 2px 2px 5px 5px #00000067;
}

td:hover {
    background: #47476d;
    border: 5px outset #47476d;
}

img {
    width: 75px;;
}

#active-player>h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #a8a6c9;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container #reset, .popup #start {
    height: 45px;
}

#mask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: #00000081;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background: #c97938;
    padding: 25px;
    border: 5px solid #9e5f2c;
}

input[type=text] {
    width: 45vw;
    height: 5vh;
    font-size: 24px;
    text-align: center;
}

#popup-container {
    position: absolute;
}

.popup>h1 {
    color: white;
}

#computer-toggle-text {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#computer-toggle-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#computer-toggle {
    height: 5vh;
    width: 5vw;
}
